.ProjectPageParentCont {
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.ProjectPageParentCont.hide {
    height: 0vh;
}

.ProjectPageParentCont.raise {
    height: 100vh;
    bottom: 0;
    animation-name: ProjectParentShow;
    animation-duration: 1s;
}

.ProjectPageParentCont.lower {
    height: 100vh;
    top: 0;
    animation-name: ProjectParentShow;
    animation-duration: 1s;
}

@keyframes ProjectParentShow {
    from {
        height: 0vh;
    }
    to {
        height: 100vh;
    }
}

.ProjectPageParentCont.hide.up {
    height: 0vh;
    top: 0;
    animation-name: ProjectParentHide;
    animation-duration: 1s;
}

.ProjectPageParentCont.hide.down {
    height: 0vh;
    bottom: 0;
    animation-name: ProjectParentHide;
    animation-duration: 1s;
}

@keyframes ProjectParentHide {
    from {
        height: 100vh;
    }
    to {
        height: 0vh;
    }
}

.ProjectPageInfoParent {
    height: 98vh;
    color: white;
    padding: 1vh;
    overflow: hidden;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: absolute;
}

.ProjectPageInfoParent.left {
    left: 0;
}

.ProjectPageInfoParent.right {
    right: 0;
}

.ProjectPageInfoParent.open {
    background-color: rgba(0, 0, 0, 0.6);
    width: 30%;
    animation-name: openParent;
    animation-duration: 0.5s;
}

.ProjectPageInfoParent.closed {
    background-color: rgba(0, 0, 0, 0);
    width: 3%;
    animation-name: hideParent;
    animation-duration: 0.5s;
}

.ProjectPageInfoCont {
    overflow: hidden;
}

.ProjectPageInfoCont.open {
    width: 80%;
    animation-name: openInfo;
    animation-duration: 0.5s;
}

.ProjectPageInfoCont.closed {
    width: 0%;
    animation-name: hideInfo;
    animation-duration: 0.5s;
}

@keyframes openParent {
    from {
        background-color: rgba(0, 0, 0, 0);
        width: 3%;
    }
    to {
        background-color: rgba(0, 0, 0, 0.6);
        width: 30%;
    }
}

@keyframes hideParent {
    from {
        background-color: rgba(0, 0, 0, 0.6);
        width: 30%;
    }
    to {
        background-color: rgba(0, 0, 0, 0);
        width: 3%;
    }
}

@keyframes openInfo {
    from {
        width: 0%;
    }
    to {
        width: 80%;
    }
}

@keyframes hideInfo {
    from {
        width: 80%;
    }
    to {
        width: 0%;
    }
}
