.ProjectPageParentCont {
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    font-family: "Open Sans";
}

.ProjectPageParentCont.hide {
    height: 0vh;
}

.ProjectPageParentCont.raise {
    height: 100vh;
    bottom: 0;
    top: unset;
    animation-name: ProjectParentShow;
    animation-duration: 1s;
}

.ProjectPageParentCont.lower {
    height: 100vh;
    top: 0;
    bottom: unset;
    animation-name: ProjectParentShow;
    animation-duration: 1s;
}

@keyframes ProjectParentShow {
    from {
        height: 0vh;
    }
    to {
        height: 100vh;
    }
}

.ProjectPageParentCont.hide.up {
    height: 0vh;
    top: 0;
    bottom: unset;
    animation-name: ProjectParentHide;
    animation-duration: 1s;
}

.ProjectPageParentCont.hide.down {
    height: 0vh;
    bottom: 0;
    top: unset;
    animation-name: ProjectParentHide;
    animation-duration: 1s;
}

@keyframes ProjectParentHide {
    from {
        height: 100vh;
    }
    to {
        height: 0vh;
    }
}

.ProjectPageInfoParent {
    color: white;
    padding: 1vh;
    overflow: hidden;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
}

.ProjectPageInfoParent.left {
    left: 0;
    border-right: 10px solid rgb(12, 49, 146);
}

.ProjectPageInfoParent.right {
    right: 0;
    border-left: 10px solid rgb(12, 49, 146);
}

.ProjectPageInfoParent.open.right {
    background-color: rgba(0, 0, 0, 0.9);
    width: 27%;
    animation-name: openParentRight;
    animation-duration: 0.5s;
    height: 98vh;
    border-radius: 0px;
}

.ProjectPageInfoParent.open.left {
    background-color: rgba(0, 0, 0, 0.9);
    width: 27%;
    animation-name: openParentLeft;
    animation-duration: 0.5s;
    height: 98vh;
    border-radius: 0px;
}

.ProjectPageInfoParent.closed.left {
    animation-name: closedParentBorderAniLeft;
    animation-duration: 0.5s;
    border-radius: 0px 10px 10px 0px;
    background-color: rgba(0, 0, 0, 9);
    width: 3%;
    animation-name: hideParentLeft;
    animation-duration: 0.5s;
    height: 36vh;
}

.ProjectPageInfoParent.closed.right {
    animation-name: closedParentBorderAniRight;
    animation-duration: 0.5s;
    border-radius: 10px 0px 0px 10px;
    background-color: rgba(0, 0, 0, 9);
    width: 3%;
    animation-name: hideParentRight;
    animation-duration: 0.5s;
    height: 36vh;
}

@keyframes openParentLeft {
    from {
        width: 3%;
        height: 36vh;
        border-radius: 0px 10px 10px 0px;
    }
    to {
        width: 27%;
        height: 98vh;
        border-radius: 0px;
    }
}

@keyframes openParentRight {
    from {
        width: 3%;
        height: 36vh;
        border-radius: 10px 0px 0px 10px;
    }
    to {
        width: 27%;
        height: 98vh;
        border-radius: 0px;
    }
}

@keyframes hideParentLeft {
    from {
        width: 27%;
        height: 98vh;
        border-radius: 0px;
    }
    to {
        width: 3%;
        height: 36vh;
        border-radius: 0px 10px 10px 0px;
    }
}

@keyframes hideParentRight {
    from {
        width: 27%;
        height: 98vh;
        border-radius: 0px;
    }
    to {
        width: 3%;
        height: 36vh;
        border-radius: 10px 0px 0px 10px;
    }
}

.ProjectPageInfoCont {
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    height: 90%;
}

.ProjectPageInfoCont.right {
    align-items: flex-start;
}

.ProjectPageInfoCont.left {
    align-items: flex-end;
}

.ProjectPageInfoCont.open {
    width: 23.4375vw;
    animation-name: openInfo;
    animation-duration: 0.5s;
}

.ProjectPageInfoCont.closed {
    width: 0%;
    animation-name: hideInfo;
    animation-duration: 0.5s;
}

@keyframes openInfo {
    from {
        width: 0%;
    }
    to {
        width: 23.4375vw;
    }
}

@keyframes hideInfo {
    from {
        width: 23.4375vw;
    }
    to {
        width: 0%;
    }
}

.ProjectPageNameAboutCollisionCont {
    display: flex;
    flex-direction: column;
    /* justify-content: space-between; */
}

.ProjectPageNameTitleCont {
    display: flex;
    align-items: flex-start;
    min-width: 23.4375vw;
    margin-bottom: 10px;
}

.ProjectPageNameTitle {
    font-size: 6.2vh;
    font-family: Staatliches;
    width: 100%;
    border-bottom: 2px solid gray;
}

.ProjectPageAboutCont {
    min-width: 23.4375vw;
}

.ProjectPageAboutText {
    font-size: 2.3vh;
    margin-bottom: 25px;
}

.ProjectPageAboutText.about2 {
    margin-bottom: 15px;
}

.ProjectPageTechCont {
    min-width: 23.4375vw;
    max-width: 23.4375vw;
    color: rgb(232, 230, 227);
}

.ProjectPageTechTitle {
    font-size: 3.6vh;
    border-top: 2px solid gray;
    padding-top: 15px;
}

.ProjectPageTechUl {
    columns: 2;
    -webkit-columns: 2;
    -moz-columns: 2;
    min-width: 21.4583vw;
    max-width: 21.4583vw;
    list-style-type: square;
    margin-top: 5px;
}

.ProjectPageTechLi {
    margin-left: 0px;
    font-size: 2.7vh;
    max-width: 7.8125vw;
}

.ProjectPageLinkCont {
    display: flex;
    justify-content: space-evenly;
    height: 15%;
    min-width: 23.4375vw;
    margin-top: 1.6vh;
}

.ProjectPageLink {
    font-size: 5.7vh;
    cursor: pointer;
    text-decoration: underline;
    font-family: Staatliches;
}

.ProjectPageLink:hover {
    color: rgb(84, 193, 230);
}

.ProjectPageTransitionButtonCont {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.ProjectPageTransitionButton {
    height: 35vh;
    background-color: black;
    color: white;
    font-family: Staatliches;
    font-size: 10.4vh;
    border: unset;
    border-radius: 5px;
    cursor: pointer;
    border: 1px solid white;
}

.ProjectPageTransitionButton:hover {
    background-color: black;
}
