.ProjectPageParentCont {
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.ProjectPageInfoParent {
    height: 98vh;
    color: white;
    padding: 1vh;
    overflow: hidden;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: absolute;
    left: 0;
}

.ProjectPageInfoParent.left {
}

.ProjectPageInfoParent.right {
}

.ProjectPageInfoParent.open {
    background-color: rgba(0, 0, 0, 0.6);
    width: 30%;
    animation-name: openParent;
    animation-duration: 0.5s;
}

.ProjectPageInfoParent.closed {
    background-color: rgba(0, 0, 0, 0);
    width: 3%;
    animation-name: hideParent;
    animation-duration: 0.5s;
}

.ProjectPageInfoCont {
    overflow: hidden;
}

.ProjectPageInfoCont.open {
    width: 80%;
    animation-name: openInfo;
    animation-duration: 0.5s;
}

.ProjectPageInfoCont.closed {
    width: 0%;
    animation-name: hideInfo;
    animation-duration: 0.5s;
}

@keyframes openParent {
    from {
        background-color: rgba(0, 0, 0, 0);
        width: 3%;
    }
    to {
        background-color: rgba(0, 0, 0, 0.6);
        width: 30%;
    }
}

@keyframes hideParent {
    from {
        background-color: rgba(0, 0, 0, 0.6);
        width: 30%;
    }
    to {
        background-color: rgba(0, 0, 0, 0);
        width: 3%;
    }
}

@keyframes openInfo {
    from {
        width: 0%;
    }
    to {
        width: 80%;
    }
}

@keyframes hideInfo {
    from {
        width: 80%;
    }
    to {
        width: 0%;
    }
}
