.AboutMeParentCont {
    min-width: 100%;
    height: 0vh;
    position: fixed;
    z-index: 3;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    background-color: rgba(0, 0, 0, 0.3);
}

.AboutMeParentCont.active.fromHome {
    height: 100vh;
    animation-name: showCont;
    animation-duration: 2s;
    bottom: 0;
    top: unset;
}

.AboutMeParentCont.active.fromProjects {
    height: 100vh;
    animation-name: showCont;
    animation-duration: 2s;
    bottom: unset;
    top: 0;
}

.AboutMeParentCont.unactive.home {
    height: 0vh;
    animation-name: hideAbout;
    animation-duration: 2s;
    top: unset;
    bottom: 0;
}

.AboutMeParentCont.unactive.projects {
    height: 0vh;
    animation-name: hideAbout;
    animation-duration: 2s;
    top: 0;
    bottom: unset;
}

@keyframes showCont {
    from {
        height: 0vh;
    }
    to {
        height: 100vh;
    }
}

@keyframes hideAbout {
    from {
        height: 100vh;
    }
    to {
        height: 0vh;
    }
}

