@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Cairo:wght@300&family=Staatliches&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Staatliches&display=swap");

html,
body {
    min-height: 100vh;
}

body {
    margin: 0;
}

:root {
    font-size: 0.8vw;
}

#root {
    min-height: 100vh;
}

.PageContent {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    position: relative;
}

.DownButtonCont {
    position: absolute;
    max-height: 7vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 7.5px;
    bottom: 0;
    transform: rotate(90deg) scaleX(1);
    z-index: 6;
    cursor: pointer;
}

.UpButtonCont {
    position: absolute;
    max-height: 7vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 7.5px;
    top: 0;
    transform: rotate(90deg) scaleX(1);
    z-index: 6;
    cursor: pointer;
}

.ChangeButton {
    font-size: 6.25rem;
    background-color: rgba(0, 0, 0, 0.6);
    font-family: Staatliches;
    height: 40vh;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.ChangeButton.unset {
    font-size: 6.25rem;
    background-color: rgba(0, 0, 0, 0.1);
    font-family: Staatliches;
    height: 40vh;
    border: none;
    border-radius: 5px;
    cursor: unset;
}

.ChangeButton:hover {
    background-color: rgba(0, 0, 0, 0.9);
}

.ChangeButton.unset:hover {
    background-color: rgba(0, 0, 0, 0.1);
}

.ButtonText {
    color: white;
    opacity: 1;
}

.ButtonText.unset {
    color: rgb(105, 105, 105);
    opacity: 0.5;
}

.BackgroundImage {
    height: 100vh;
    width: 100vw;
    z-index: -1;
}

@media screen and (min-height: 1080px) {
    .BackgroundImage {
        height: 1250px;
        width: 100vw;
        z-index: -1;
    }
}
