@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Cairo:wght@300&family=Staatliches&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Staatliches&display=swap");

html,
body {
    min-height: 100vh;
}

body {
    margin: 0;
}

#root {
    min-height: 100vh;
}

.PageContent {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    position: relative;
}
