@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Cairo:wght@300&family=Staatliches&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Staatliches&display=swap");

html,
body {
    min-height: 100vh;
}

body {
    margin: 0;
}

#root {
    min-height: 100vh;
}

.PageContent {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    position: relative;
}

.DownButtonCont {
    position: absolute;
    max-height: 7vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 7.5px;
    bottom: 0;
    transform: rotate(90deg) scaleX(1);
    z-index: 6;
    cursor: pointer;
}

.UpButtonCont {
    position: absolute;
    max-height: 7vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 7.5px;
    top: 0;
    transform: rotate(90deg) scaleX(1);
    z-index: 6;
    cursor: pointer;
}

.ChangeButton {
    font-size: 100px;
    background-color: rgba(0, 0, 0, 0.6);
    color: #fff;
    font-family: Staatliches;
    height: 40vh;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.ChangeButton:hover {
    background-color: rgba(0, 0, 0, 0.9);
}

.ButtonText {
    color: white;
    opacity: 1;
}

.BackgroundImage {
    height: 940px;
    width: 1920px;
    z-index: -1;
    position: absolute;
    top: 0;
}
